.billing-card {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px !important;
  color: $black;
  position: relative;
  padding: 24px;
  font-size: 14px;
}

.offset {
  margin-left: 20px;

  @media (max-width: 960px) {
    & {
      margin-left: 0 !important;
    }
  }
}

.billing-card__title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 23px;
}

.billing-card__action {
  position: absolute;
  top: 24px;
  right: 24px;
  color: $primary;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    color: darken($primary, 20%);
  }
}

.billing-card__text {
  margin-top: 7px;
}

.billing-card__logo {
  display: inline-block;
}

.invite-user-card {
  margin-top: 43px;
}


.modal-card {

  padding: 24px;

  .modal-header {
    display: block;
    position: relative;
  }

  .modal-close-btn {
    position: absolute !important;
    top: -16px;
    right: -18px;

  }

  .modal-row {
    cursor: pointer;
    padding: 16px 24px;
    margin: 0 -24px
  }

  .modal-row--checked {
    border-left: 2px solid $primary;
    background-color: rgba($primary, 0.05);
  }
}