@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/lato-regular-webfont.eot');
  src: url('./assets/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/lato-regular-webfont.woff2') format('woff2'),
  url('./assets/fonts/lato-regular-webfont.woff') format('woff'),
  url('./assets/fonts/lato-regular-webfont.ttf') format('truetype'),
  url('./assets/fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}