.hint {
  background-color: $white;
  position: fixed;
  margin: 4px 0;
  width: 210px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);

  &:focus {
    outline: none;
  }
}

.hint__item {
  padding: 5px 15px;
  cursor: pointer;
  color: $light-black;
  line-height: 30px;
}

.hint__item--active {
  background-color: $light-grey;
}

.hint__item-text {
  display: inline;

  span {
    display: inline-block;
  }

  .shortcut {
    &:first-letter {
      text-decoration: underline;
    }
  }
}

.hint__bordered {
  border-top: 1px solid $light-grey;
}

.underlined--actor {
  @include set-bottom-border($light-green);
}

.underlined--requirement {
  @include set-bottom-border($light-blue);
}

.underlined--field {
  @include set-bottom-border($light-red);
}