.hint {
  background-color: $white;
  position: absolute;
  z-index: 999;
  margin: 4px 0;
  width: 210px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.hint__item {
  padding: 5px 15px;
  cursor: pointer;
  color: $light-black;
  line-height: 30px;

  &:hover {
    background-color: $light-grey;
  }
}

.hint__item-text {
  display: inline;
  border-bottom: 2px solid $light-green;
}

.hint__bordered {
  border-top: 1px solid $light-grey;
}