.signup-container {
  
  .social-button-icon {
    margin: 0 8px;
    width: 16px;
    height: 16px;
  }
}

.red-circle {
  display: inline-block;
  position: absolute;
  margin-left: 8px;
  margin-top: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $red;
}

.header-icon {
  padding-right: 16px;
  .v-icon {
    color: $primary !important;
    margin-top: 2px;
  }
}

.dropdown-action {
  padding: 0 !important;
  margin: -4px 0 0 0 !important;
  width: 20px !important;
  height: 20px !important;

  .v-icon {
    font-size: 22px !important;
  };
}

.logo-container {
  margin-left: 20px;
  display: flex;

  svg {
    width: 72px;
    &:hover {
      filter: brightness(0.9);
    }
  }
}

.stories-container {
  .drag-icon {
    min-width: 20px;
    display: flex;

    svg {
      cursor: move !important;
    }
  }
}