.v-text-field--solo .v-input__control .v-input__slot {
  @include rapid-input;
}

.v-input {
  &.v-input--is-focused .v-input__control {
    .v-input__slot {
      border-color: $primary;
    }
  }

  &.error--text .v-input__control {
    .v-input__slot {
      border-color: $red;
    }
  }
}

.label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: $black;
  text-indent: 2px;
  opacity: 0.6;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
  padding: 0 !important;
  font-size: 12px !important;
  font-weight: 600;
  color: $red;
  margin: 0 !important;
}

.signup-input {
  min-height: 80px;
}

.signup-loader {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: $white;
  border: 1px solid $light-grey;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer !important;

  svg {
    margin-top: 43px;
  }
}

.forgot-link {
  margin-top: 26px;
}

.input-group {
  display: block;
  position: relative;

  .v-input {
    position: absolute !important;
  }

  .full-width {
    width: 100%;
  }

  .rapid-select {
    top: 3px;
    right: 6px;
  }
}

.editor {
  border: 1px solid green;
}

.user-story__item--2 {
  margin-left: 16px;
}
.user-story__item--3 {
  margin-left: 32px;
}

.phone-input {
  @include rapid-input;

  &:focus-within {
    border-color: $primary !important;
  }

  input {
    padding: 0 !important;
  }

  .dropdown {
    border-radius: 4px;
    outline: none;

    .country-code {
      font-size: 14px;
      font-family: 'Lato';
      color: rgba(0,0,0,.87);
      font-weight: 400;
    }
  }
}

.input-without-border {
  .v-input__slot {
    border: none !important;
    padding: 0 !important;

    input {
      font-size: 24px !important;
      line-height: 29px !important;
      color: $black !important;
      font-weight: bold;
    }
  }
}