@include label-generator;

.label--outline {
  background-color: $white !important;
  color: rgba(0,0,0, 0.7);
}

.rapid-alert {
  position: fixed;
  bottom: 32px;
  z-index: 999;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 2px;
  color: $black;
  padding: 24px;
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: $white;
  line-height: 17px;
  font-weight: normal;
  width: 50%;
  max-width: 624px;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.rapid-alert--warning {
  border-left: 6px solid $warning;
}

.rapid-alert--success {
  border-left: 6px solid $primary;
}

.label__item {
  font-size: 14px;
  line-height: 17px;
  padding: 11px 16px;
  border-radius: 2px;
  margin-bottom: 8px;
  cursor: pointer !important;

  i {
    font-size: 20px !important;
    line-height: 14px !important;
  }

  &:hover {
    filter: brightness(0.95);
  }
}

.label__button {
  color: rgba(0, 0, 0, 0.8);
}

.palette {
  background: $light-black;
  padding: 4px;
  top: 50px;
}
.palette__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 8px;
  min-width: 24px !important;
  min-height: 24px !important;
  border-radius: 2px;
}

.palette__item--action {
  .v-icon {
    font-size: 18px;
  }
}

.deletable-name {
  background-color: #7839DF;
  font-weight: 500;
  color: white;
  padding: 1px 5px;
  border-radius: 2px;
}
