.tabs {
  .theme--light.v-tabs__bar {
    background-color: transparent;
    border-bottom: 1px solid $light-grey;

    .v-tabs__div {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      text-transform: capitalize;
      padding: 0 8px;
      min-width: 0;
    }

    .v-tabs__item {
      color: $black;
      opacity: 1 !important;
    }

    .v-tabs__item--active {
      color: $primary;
    }
  }

  .accent {
    height: 3px;
    background-color: $primary !important;
    border: none !important;
  }
}

.v-navigation-drawer {
  overflow-y: hidden;
}

.v-navigation-drawer--mini-variant {
  width: 50px !important;

  .sidebar__title {
    margin: 14px 0 14px 6px;
  }
  .v-list__tile__content {
    opacity: 1 !important;
  }

  .v-list__tile {
    padding: 0 10px !important;
  }

  .sidebar-scroll {
    max-height: 100%;
    height: 100%;
    overflow-y: hidden;
    position: relative;
  }

  .sidebar__btn {
    margin-left: 15px !important;
  }
}

.sidebar-popup-menu {
  .v-menu__content {
    min-width: 250px !important;
  }
}

.team-tabs {
  margin-top: 24px ;
}

.stories-tabs {
  margin-top: 15px;
}

.mini-sidebar {
  background: $white;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
}

