.sidebar {
  .v-list__tile {
    color: $black !important;
    padding: 0 24px !important;
    font-weight: 600 !important;
  }

  .sidebar__item {
    cursor: pointer;

    &:hover {
      border-left: 2px solid $primary;
      background-color: rgba($primary, 0.2);
    }
  }

  .sidebar-notification {
    font-size: 28px;
    position: absolute;
    top: 26px;
    right: 26px;
    color: $black !important;
    cursor: pointer;

    &:hover {
      color: $primary !important;
    }
  }

  .sidebar__item--active {
    border-left: 2px solid $primary;
    background-color: rgba($primary, 0.05);

    i {
      color: $primary;
    }
  }

  .sidebar-footer {
    position: absolute;
    bottom: 29px;
    width: 100%;

    svg {
      display: block;
      margin: auto;
    }
  }

  .sidebar-section {
    margin: 14px 0 14px 24px;
    text-transform: uppercase;
    color: rgba($black, 0.6);
    letter-spacing: 0.05em;
    font-weight: 900;
    font-size: 10px;
    cursor: default;
  }

  .sidebar-add {
    margin-top: 12px;
    margin-left: 15px;
    font-size: 14px;
    cursor: pointer;
    color: $black !important;
    font-weight: 600;

    i {
      font-size: 17px;
      font-weight: 600;
      color: $black !important;
      margin-right: 6px;
    }
  }

  .sidebar-header {
    width: 100%;
    text-align: center;
    margin-bottom: 61px;

    img {
      margin-top: 64px;
      width: 56px;
      height: 56px;
    }
  }
}

.tabs {
  .theme--light.v-tabs__bar {
    background-color: transparent;
    margin-top: 24px ;
    border-bottom: 1px solid $grey1;

    .v-tabs__div {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      text-transform: capitalize;
      padding: 0 8px;
      min-width: 0;
    }

    .v-tabs__item--active {
      color: $primary;
    }
  }

  .accent {
    height: 3px;
    background-color: $primary !important;
    border: none !important;
  }
}

.v-navigation-drawer--mini-variant {
  width: 50px !important;

  .sidebar-section {
    margin: 14px 0 14px 6px;
  }
  .v-list__tile__content {
    opacity: 1 !important;
  }

  .v-list__tile {
    padding: 0 10px !important;
  }
}
