.signup-section {
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 100px;
}

.signup-container {
  max-width: 410px;

  .signup-text-1 {
    margin: 25px 0 0 0;
  }
  .signup-text-2 {
    margin: 63px 0 0 0;
  }
}

.dashboard-content {
  margin-top: 24px;
}

.user-story__block {
  margin-bottom: 64px;
  display: block;
  position: relative;
}

.user-story__block--blur {
  filter: blur(1px);
}

.user-story__container {
  position: absolute;
  width: 100%;
}

.user-story {
  border-radius: 4px;
  margin: 8px 0;
  background-color: $white;
  position: relative;
  display: block;
  outline: none;
}
.user-story--active {
  background-color: $light-grey-1;
  margin: -4px -8px;
  padding: 4px 8px;

  &:focus {
    outline: none;
  }
}

.user-story__tools {
  padding: 0 16px;
  margin-bottom: 2px;
}

.user-story__prefix {
  color: rgba(0, 0, 0, 0.7);

  svg {
    margin: 0 2px 2px 0;
    fill: rgba(0, 0, 0, 0.8);
  }
}

.user-story__wysiwyg {
  position: relative;
  width: 100%;
}

.user-story__delete-icon {
  font-size: 16px;
  top: 2px;
  left: -35px;
  color: #ff5252 !important;
  cursor: pointer;
  position: absolute;

  &:hover {
    filter: brightness(0.5);
  }
}

.user-story__action-group {
  position: relative;
  display: flex;
  align-items: center;
}

.user-story__input {
  width: 32px;
  height: 24px;
  background: $white;
  border: 1px solid $light-grey;
  box-sizing: border-box;
  border-radius: 2px;
  text-indent: 5px;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.user-story__placeholder {
  position: absolute;
  width: 100%;
  color: $white;
}

.user-story__editable {
  position: relative;
  width: 100%;

  span[contenteditable] {
    outline: none;
  }
}

.user-story__input-field {
  position: relative;
}

.user-story__editable-input {
  display: inline-block;
  min-width: 60px;
  padding: 10px 0;
}

.user-story__editable,
.user-story__input,
.user-story__input-field,
.user-story__editable-input {
  caret-color: $light-blue;

  &:focus {
    outline: none;
  }
  &::selection, ::selection {
    background-color: $light-primary !important;
  }
}

.user-story__loader {
  color: $light-primary;
  position: absolute;
  top: 0;
  right: 0;
}

.user-story__editable--actor {
  @include set-bottom-border($light-green);
}

.user-story__editable--requirement {
  @include set-bottom-border($light-blue);
}

.user-story__editable--field {
  @include set-bottom-border($light-red);
}

.dictionary {
  font-size: 14px;
  line-height: 17px;
  color: $black;

  &.user-story {
    padding: 0;
    margin: -5px -8px;

    .layout {
      padding: 5px 8px;
    }
  }

  .user-story__editable {
    font-size: 14px;
    line-height: 17px;
  }

  .user-story__editable--after {
    &:after {
      content: ':';
      margin: 5px;
      font-weight: normal !important;
    }
  }
}

[draggable=true] {
  .user-story {
    margin: -4px -8px;
    padding: 4px 8px;
    border: 1px solid rgba(120, 57, 223, 0.4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
}
[draggable=false] {
  .user-story {
    border: none;
    box-shadow: none;
  }
}

.user-story__wysiwyg--disabled {
  pointer-events: none;
}

.user-story__priority--short {
  margin: -2px 0 0 -48px;
  position: absolute;
  background-color: red;
  border-radius: 0 2px 2px 0;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;

  &:hover {
    filter: brightness(0.9);
  }
}

.user-story__label--short {
  display: inline-block;
  margin-right: 8px;
  border-radius: 10px;
  min-width: 32px;
  padding: 2px 10px;
  font-size: 12px;
  line-height: 14px;
  min-height: 9px;
}

.user-story--without-padding {
  padding: 5px 0;
}
