.select-bold {
  margin: 0 0 0 26px;
  font-weight: bold;

  &.v-text-field {
    margin: 0 24px;
  }
}

.align-right {
  float: right !important;
}

.v-menu__content {
  @include rapid-scroll;
}
.dropdown-list {
  max-height: 200px;

  .theme--light.v-list {
    border-radius: 2px;
    background-color: $light-black;
    color: $white !important;
    font-size: 14px;
    margin: 0;
    padding: 2px 0 2px 0;

    .v-list__tile {
      height: 24px;
      font-size: 14px;
      margin-bottom: 2px;
      text-indent: 12px;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }

    a.v-list__tile.v-list__tile--link.theme--light {
      text-indent: 0 !important;
      margin: 0 !important;
      padding: 0 28px !important;
    }
  }

  .v-list__tile--active {
    .v-list__tile__content {
      margin-left: -16px !important;
    }

    .item-active {
      color: $white !important;

      &:before {
        content: "\A";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $white;
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 3px;
      }
    }
  }
}

.table-dropdown {
  margin-left: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}
