.rapid-select {
  width: 110px;
  color: $black;
  font-size: 14px !important;

  &.v-list__tile {
    height: 24px !important;
  }

  .v-text-field__details {
    display: none !important;
  }

  &.v-text-field {
    padding: 0;
    margin: 0;
  }

  &.v-text-field .v-input__control .v-input__slot:before {
    border: none !important;
  }

  i {
    color: currentColor !important;
    cursor: pointer;
  }
}

.select-bold {
  margin: 0 0 0 26px;
  font-weight: bold;

  &.v-text-field {
    margin: 0 24px;
  }
}