.dashboard-sidebar {
  width: 272px;
}

.sidebar {
  .v-list__tile {
    color: $black !important;
    padding: 0 24px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
  }
}

.sidebar__list {
  .replaceable {
    border: none;
    border-top: 2px solid $primary;
  }

}

.sidebar__title {
  padding: 8px 0 8px 25px;
  text-transform: uppercase;
  color: rgba($black, 0.6);
  letter-spacing: 0.05em;
  font-weight: 900;
  font-size: 10px;
  cursor: default;
  width: 100%;
  line-height: 12px;
}

.sidebar__title--centered {
  padding: 8px 0;
  text-align: center;
}

.sidebar__item {
  cursor: pointer;
  border-left: 2px solid $white;

  &:hover {
    background-color: rgba($primary, 0.2);
  }
}

.sidebar__notification {
  font-size: 28px;
  position: absolute;
  top: 26px;
  right: 26px;
  color: $black !important;
  cursor: pointer;

  &:hover {
    color: $primary !important;
  }
}

.sidebar__item--active {
  border-left: 2px solid $primary;
  background-color: rgba($primary, 0.05);
  padding-left: -2px !important;

  i {
    color: $primary;
  }
}

.sidebar__scroll {
  max-height: calc(100% - 380px);
  height: calc(100% - 380px);
  overflow-y: auto;
  position: relative;

  @include rapid-scroll;
}

.sidebar__header {
  width: 100%;
  text-align: center;
  margin-bottom: 61px;

  img {
    margin-top: 64px;
    width: 56px;
    height: 56px;
  }
}

.sidebar__footer {
  position: absolute;
  bottom: 0;
  padding: 29px 0;
  width: 100%;
  background-color: rgba(255,255,255,0.5);

  svg {
    display: block;
    margin: auto;
  }
}

.sidebar__btn {
  margin-top: 19px;
  margin-left: 23px;
  font-size: 14px;
  cursor: pointer;
  color: $black !important;
  font-weight: 600;

  i {
    font-size: 17px;
    font-weight: 600;
    color: $black !important;
    margin-right: 6px;
  }
}

.sidebar__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);

  svg {
    width: 14px;
    height: 14px;
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.8);
  }

  .v-icon {
    cursor: pointer;
  }
}

.sidebar__icon--active {
  color: $primary;
  svg {
    fill: $primary;
  }
}

.u-sidebar {
  div[role=listitem] {
    cursor: pointer;

    &:hover {
      background-color: $light-grey;
    }
  }
}