.table-container {
  padding-top: 22px;
  background-color: $white;
  margin-top: 16px;
  box-shadow: 0 2px 3px rgba(0,0,0, 0.2);
  border-radius: 4px;
}

.dashboard-table {
  margin-top: 24px;
  cursor: default;
  box-shadow: 0 2px 3px rgba(0,0,0, 0.2);
  border-radius: 4px;

  thead {
    tr:not(.v-datatable__progress) {
      margin: 20px;
      height: 48px !important;
    }
  }

  tbody {
    position: relative;

    .tr-border {
      width: calc(100% - 48px);
      border-bottom: 1px solid $light-grey;
      position: absolute;
      margin: 0 24px;
    }

    tr:not(.v-datatable__progress) {
      height: 55px;
      border-bottom: none !important;
    }
  }
  th {
    text-transform: uppercase;
    font-weight: 900 !important;
    font-size: 10px !important;
    line-height: 12px;
    letter-spacing: 0.05em;
  }
  td {
    font-size: 14px !important;
    width: calc(100% - 47px)/3 !important;

    &:first-child {
      font-weight: 600 !important;
    }

    &:last-child {
      width: 47px;
    }
  }

  .index {
    margin-left: 8px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 2px;
    background-color: $red;
    color: $white;
    padding: 0 4px;
  }

  img {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 !important;
  }

  .v-icon {
    color: rgba($black, 0.8) !important;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: $primary !important;
    }
  }
}

.dashboard-table-mt-16 {
  margin-top: -19px;
}

.projects-table {
  margin-top: 0;
  cursor: default;
  box-shadow: 0 2px 3px rgba($white, 0.2);
  border-radius: 4px;
}