.theme--rapid {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 24px;
}
a {
  color: $primary;
  font-weight: 600;
}

.text-bold {
  font-weight: 600;
}

.text-bolder {
  font-weight: 900;
}

.text-greyed {
  color: rgba($black, 0.6) !important;
}

.text-dark-grey {
  color: $dark-grey;
}

.text-black {
  color: $black;
}

.text-primary {
  color: $primary !important;
}
.padding-left--50 {
  padding-left: 50px !important;
}
.padding-0 {
  padding: 0 !important;
}

.wo-m-24 {
  margin: -24px;
}

.mt-40 {
  margin-top: 40px;
}

.text-size--16 {
  font-size: 16px;
  font-weight: 600;
}

.text-size--18 {
  font-size: 18px;

  .v-icon {
    font-size: 18px;
  }
}

.m-0 {
  margin: 0 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default;
}

.cursor-move {
  cursor: move !important;
}

.text-underlined {
  text-decoration: underline;
}

.text-uppercased {
  text-transform: uppercase;
}

.word-break-word {
  word-break: break-word;
}

.white-space-nowrap {
  white-space: nowrap;
}

.position-relative {
  position: relative;
}

.text-white {
  .v-icon {
    color: $white !important;
  }
}