$snow: #FCFBFD;
$primary: #7839DF;
$white: #FFF;
$black: #000;
$light-black: #272727;
$warning: #FBBB00;
$grey: #B3B3B3;
$red: #EA4335;
$light-green: #9BE1CA;
$light-red: #FE9BA5;
$light-yellow: #FADCA2;
$light-blue: #9FCEF8;
$light-grey: #E5E5E5;
$light-grey-1: #F2F2F2;
$light-primary: rgba(120, 57, 223, 0.2);