button {
  &.v-btn {
    text-transform: none;
    border-radius: 4px;
  }

  &.primary:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #7839DF !important;
  }

  &.secondary:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}







