.layout-container-public {
  .content-container {
    & * {
      cursor: default !important;
    }
  }
}

.stories-container--base {
  display: grid;
  grid-auto-rows: 64px calc(100vh - 64px);

  .header {
    grid-area: header;
    background: $white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 5;
    padding-right: 16px;
  }

  .u-sidebar {
    grid-area: u-sidebar;
    z-index: 4;
  }

  .content-container {
    grid-area: content-container;
    z-index: 3;

    .content {
      position: relative;
      padding: 48px;
      background-color: $white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      width: 100%;
      margin: 24px 10%;
    }
  }

  .story-section {
    grid-area: story-section;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  }

  .tool-section {
    grid-area: tool-section;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 0 24px;
    cursor: default;
    position: relative;

    hr {
      margin: 12px 0 0 -24px;
      padding: 0 12px 16px 0;
      min-width: calc(100% + 48px);
    }
  }

  .story-section, .tool-section {
    background-color: $white;
    z-index: 2;
  }
}

.stories-container {
  grid-template-areas:
          "header header header header"
          "u-sidebar story-section content-container tool-section";
  grid-template-columns: 56px 224px calc(100% - 504px) 224px;

  @extend .stories-container--base;
}

.stories-container--short {
  grid-template-areas:
    "header header header"
    "u-sidebar story-section content-container";
  grid-template-columns: 56px 224px calc(100% - 280px);

  @extend .stories-container--base;
}

.stories-container--public {
  grid-template-areas:
          "header header header"
          "story-section content-container tool-section";
  grid-template-columns: 224px calc(100% - 448px) 224px;

  @extend .stories-container--base;
}

.tool-block {
  margin-bottom: 35px;
  padding: 0 !important;
}

.tool-block__text {
  margin-top: 16px;
  position: relative;
}

.tool-block__text--fixed {
  max-width: 224px;
  cursor: default;
}

.tool-block__text--minified {
  margin: 0;
}

.tool-block__label--base {
  color: $black;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  line-height: 14px;
}

.tool-block__label {
  @extend .tool-block__label--base;
  text-align: left !important;
  padding: 4px 10px;
  margin: 0 0 8px 0;

  &.rounded {
    border-radius: 16px;
  }
}

.tool-block__label--minified {
  @extend .tool-block__label--base;
  display: inline-block;
  padding: 1px 6px;
}

.tool-block__file {
  width: 80px;
  height: 64px;

  background: rgba(120, 57, 223, 0.05);
  border: 1px dashed rgba(120, 57, 223, 0.4);
  border-radius: 2px;

  .v-icon {
    font-size: 48px !important;
    color: rgba(120,57,223, 0.5) !important;
  }
}

.section__title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.6;
  font-weight: 900;
  font-size: 10px;
  line-height: 14px;
}

.section__ref {
  @extend .text-reference;
  font-size: 12px;
  line-height: 14px;

  &:hover {
    filter: brightness(0.9);
  }
}

.text-reference {
  color: $primary;
  cursor: pointer;
}

.content-container__header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.5;
  color: $black;
  margin-bottom: 30px;
}

.scrollable-layout {
  overflow: auto;
  overflow-x: hidden;
  max-height: 100vh;

  /*&::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }*/
  @include rapid-scroll;
}

