.stories-container {
  display: grid;
  grid-auto-rows: 64px calc(100vh - 64px);
  grid-template-areas:
    "header header header header"
    "l-sidebar section content r-sidebar";
  grid-template-columns: 56px 224px calc(100% - 504px) 224px;

  .header {
    grid-area: header;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .r-sidebar {
    background-color: blue;
    grid-area: r-sidebar;
  }

  .l-sidebar {
    background-color: blue;
    grid-area: l-sidebar;
  }

  .section {
    background-color: green;
    grid-area: section;
  }

  .content {
    grid-area: content;
  }
}

