.stories-container {
  display: grid;
  grid-auto-rows: 64px calc(100vh - 64px);
  grid-template-areas:
    "header header header header"
    "u-sidebar story-section content-container tool-section";
  grid-template-columns: 56px 224px calc(100% - 504px) 224px;

  .header {
    grid-area: header;
    background: $white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 5;
  }

  .u-sidebar {
    grid-area: u-sidebar;
    z-index: 4;
  }

  .content-container {
    grid-area: content-container;
    z-index: 3;

    .content {
      position: relative;
      padding: 48px;
      background-color: $white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      width: 100%;
      margin: 24px 10% 0 10%;

      overflow-x: hidden;
      overflow-y: auto;
      height: calc(100% - 50px);

      @include rapid-scroll;
    }
  }

  .story-section {
    grid-area: story-section;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  }

  .tool-section {
    grid-area: tool-section;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 0 24px;
    cursor: default;
  }

  .story-section, .tool-section {
    background-color: $white;
    z-index: 2;
  }
}

.tool-block {
  margin-bottom: 35px;
  padding: 0 !important;
}

.tool-block__text {
  margin-top: 16px;
  position: relative;
}

.tool-block__label--base {
  color: $black;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 0 8px 0;
}

.tool-block__label {
  @extend .tool-block__label--base;
  display: block;
  text-align: left !important;
  padding: 4px 10px;

  &.rounded {
    border-radius: 16px;
  }
}

.tool-block__label--minified {
  @extend .tool-block__label--base;
  padding: 1px 6px;
  margin-left: 16px;
}

.tool-block__file {
  width: 80px;
  height: 64px;

  background: rgba(120, 57, 223, 0.05);
  border: 1px dashed rgba(120, 57, 223, 0.4);
  border-radius: 2px;

  .v-icon {
    font-size: 48px !important;
    color: rgba(120,57,223, 0.5) !important;
  }
}

.section__title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.6;
  font-weight: 900;
  font-size: 10px;
  line-height: 14px;
}

.section__ref {
  color: $primary;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}



